.drop-down {
  position: absolute;
  width: 100%;
  top: -40rem;
  padding: 2rem 0 1rem 0;

  background-color: #ffffff39;
  backdrop-filter: blur(15px);
  transition: all 0.5s;
}

.drop-down__container {
  margin: 0 1rem;

  .search__container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  input {
    width: 100%;
    height: 3rem;
    border-radius: $textblock-border-radius;
    border: 2px solid $color-primary;
    text-align: center;
    font-size: 1rem;
    background-color: $color-primary;
    color: $color-font-primary;
  }

  .drop-down__search_button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-primary;
    height: 3rem;
    width: 3.5rem;
    border-radius: $textblock-border-radius;
  }

  i {
    color: $color-font-primary;
    cursor: pointer;
  }
}

.drop-down__list {
  list-style: none;
  cursor: pointer;

  &-entry {
    margin-block: 0.3rem;
    border-radius: $textblock-border-radius;
    padding: 1rem;
    transition: all 0.2s;
    background-color: $color-primary;

    &:last-child {
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $color-dropdown-hover;
    }
  }
}

.drop-down__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

hr {
  height: 3px;
  width: 100%;

  margin: 1rem auto 1rem auto;
  border: none;
  border-radius: $textblock-border-radius;
  background-color: $color-primary;
}

.themes__title {
  margin-bottom: 1rem;
}

.themes__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  // height: auto;

  &-theme {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-font-primary;

    width: 47%;
    height: 3.5rem;
    border: 3px solid $color-primary;
    border-radius: $textblock-border-radius;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
