.block--alignment {
  display: flex;
  justify-content: center;
}

.block__container {
  width: 100%;
  margin: 0 1rem 1.5rem 1rem;
}

.forecast__list {
  border-radius: $textblock-border-radius;
  background-color: $color-textblock-bg-blur;

  .forecast__list-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.7rem;

    .forecast__time {
      width: 6rem;
    }

    .forecast__icon {
      width: 1.8rem;
    }
  }

  .forecast__temperature {
    margin-right: 0.5rem;
  }
}
