.header__container {
  position: relative;

  .header__image {
    width: 100%;
    padding-bottom: 67%;

    background-image: url("./../img/header.svg");
    background-size: cover;
  }

  .header__location-info {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }
  .header__location-city {
    font-size: 7vw;
  }
  .header__location-time {
    font-size: 3.5vw;
  }

  .header__search-bar {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    justify-content: right;
    gap: 1rem;

    & input {
      width: 60%;
      padding-left: 1rem;

      border: 2px solid $color-font-primary;
      border-radius: 1rem;
      background-color: transparent;
      color: $color-font-primary;
      // opacity: 0;
      transition: all 0.3s;
    }
  }

  .current-location__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
