.hourly-forecast__title {
  margin-bottom: 0.5rem;
}

.hourly-forecast__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  max-width: 50rem;
  margin: 0 1rem 1.5rem 1rem;
  border-radius: $textblock-border-radius;
  background-color: $color-textblock-bg-blur;

  .hourly-forecast__list-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;

    .hourly-forecast__time {
      width: 4rem;
    }

    .hourly-forecast__icon {
      width: 1.8rem;
    }
  }
}
