@media only screen and (min-width: 670px) {
  .weatherdata__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__container {
    .header__image {
      width: 100%;
      padding-bottom: 48%;

      background-image: url("./../img/header_1200x580.svg");
      // background-image: url("./../img/header__bg-sunrise_01-1200x580.png");
      background-size: cover;
    }
  }

  .now-section__container {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  section {
    width: 50%;
  }

  .block__container {
    width: 100%;
  }

  .header__container {
    .header__location-city {
      font-size: 3rem;
    }
    .header__location-time {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .weatherdata__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 75%;
    margin-inline: auto;
  }
}
