#now-section {
  display: flex;
  width: 100%;
}

@mixin positioning-now-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.now-section__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 1;
  width: 80%;

  // background-color: $color-textblock-bg-blur;
  margin: 0 auto 1rem auto;
  padding: $textblock-padding;
  border-radius: $textblock-border-radius;

  .now-section__title {
    font-size: 3.5rem;
  }

  .now-section__sky-informations-container {
    @include positioning-now-box();

    & img {
      width: 4rem;
    }
  }

  .now-section__rain-probability-containter {
    @include positioning-now-box();

    & i {
      margin-top: 3px;
    }
  }
}
