#now-section {
  width: 100%;
}

@mixin positioning-now-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.now-section__weather-description {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.now-section__container {
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  z-index: 1;

  width: 80%;
  margin: 0 auto 1rem auto;
  padding: $textblock-padding;
  border-radius: $textblock-border-radius;

  .grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .now-section__temperature {
    font-size: 3.5rem;
  }

  .now-section__sky-informations-container {
    @include positioning-now-box();

    & img {
      width: 4rem;
    }
  }

  .now-section__rain-probability-containter {
    @include positioning-now-box();

    & i {
      margin-top: 3px;
    }
  }
}
