@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// colors

$color-primary: #00172d;
$color-secondary: #02223d;
$color-mountain-bg-1: #3a4768;
$color-mountain-bg-2: #538daa;
$color-textblock-bg-blur: #ffffff0d;

$color-font-primary: #ffffffc1;

// fonts

$font-family-primary: "Raleway", sans-serif;

// textblock-styles

$textblock-border-radius: 0.5rem;
$textblock-padding: 0.4rem 1rem;

// icon-styles

// $icon-size-small: 1.2rem;
$icon-size-middle: 2rem;
$icon-size-big: 4rem;
